@*@{
    ViewData["Title"] = "Privacy Policy";
}*@

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

@{
	Layout = null;
}

<h1> @ViewData["Title"]</h1>

<p class="bg-danger text-white">privacy policy - Do Not Copy From Code Or Image! My Code Is In My Github Check On Catlog Page :)</p>
<a asp-controller="Books" asp-action="Catalogue" class="btn btn-info">Back To Home</a>
