@model WebApplicationbookstore.Models.Comment

<label class="control-label">Add Comment Text</label>

<input asp-for="CommentText" class="form-control" required />
<span asp-validation-for="CommentText" class="text-danger"></span>




